.fondoHeader {
  background-image: radial-gradient(rgb(243, 142, 47) 20%,rgb(207, 106, 10) 70%);
}
body {
  background-color: rgb(238, 187, 111);
}
header,
nav {
  border: solid 2px rgb(117, 58, 2);
  border-radius: 5px;
}
nav {
  margin-top: 10px;
}
.alineacionHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.textoAnimado {
  animation-name: texto;
  animation-duration: 1s;
}
.fondonav {
  margin-top: 10px;
  background-color: rgb(207, 106, 10);
}
@keyframes texto {
  from/*Inicio*/ {
    /*Estilos*/
    transform: translateX(1000px);
    opacity: 0;
  }

  to/*Final*/ {
    /*Estilos*/
    transform: translateX(0);
    opacity: 1;
  }
}
.textsmall {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.textheader {
  white-space: nowrap;
  font-size: 80px;
  margin-left: 15vw;
  color: rgb(85, 43, 4);
}
.textnav {
  color: rgb(85, 43, 4);
  background-image: radial-gradient(rgb(243, 142, 47) 100%,rgb(207, 106, 10) 70%);
}
.textfooter {
  font-size: 20px;
  color: rgb(85, 43, 4);
  background-image: linear-gradient(rgb(207, 106, 10) 30%,rgb(243, 142, 47) 80%);
  white-space: nowrap;
}
.border {
  border: 105px;
  border-color: rgb(0, 0, 0);
}
.degrade {
  background-image: radial-gradient(rgb(243, 142, 47) 20%,rgb(207, 106, 10) 70%);
  border: 10px;
  border-color: black;
}
.margin {
  padding-right: 45px;
}
.icono {
  border-radius: 300px;
  width: 150px;
  height: 150px;
  border: 5px solid rgb(117, 58, 2);
}
.redes {
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.iconosAnimados {
  white-space: nowrap;
  margin-left: 10vw;
  animation-name: iconos;
  animation-duration: 2s;
}
@keyframes iconos {
  from/*Inicio*/ {
    /*Estilos*/
    transform: translateX(1000px);
    opacity: 0;
  }

  to/*Final*/ {
    /*Estilos*/
    transform: translateX(0);
    opacity: 1;
  }
}
.redesFooter {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}
.imgenIndex {
  display: grid;
  justify-content: center;
  width: 100vw;
  margin-top: 10px;
}
.textContacto {
  font-family: "Arial Narrow Bold", sans-serif;
  margin-bottom: 70px;
  background-image: radial-gradient(rgb(243, 142, 47) 42%,rgb(207, 106, 10) 80%);
  border: solid 2px rgb(117, 58, 2);
  border-radius: 5px;
  color: rgb(56, 28, 2);
}
.estilContacto {
  padding: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(rgb(243, 142, 47) 42%,rgb(207, 106, 10) 80%);
  border: solid 2px rgb(117, 58, 2);
  border-radius: 5px;
  color: rgb(56, 28, 2);
}
.mx {
  width: 30vw;
  font-size: 20px;
}
.test {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
  border: solid 2px rgb(0, 0, 0);
  line-height: 40px;
  background-image: radial-gradient(rgb(243, 142, 47) 42%,rgb(207, 106, 10) 80%);
  border-radius: 5px;
}
.botones {
  background-image: radial-gradient(rgb(243, 142, 47) 42%,rgb(207, 106, 10) 80%);
}
.espaciosLogin {
  margin: 10px;
}
.anchoFormulario {
  width: 100%;
}
.articulo {
  width: 100px;
  margin: 10px;
}
.productos {
  margin-right: 100px;
  margin-left: 100px;
}
.producto {
  background-image: linear-gradient(270deg,rgb(224, 130, 42) 40%,rgb(245, 160, 80) 80%
  );
  border-radius: 4px;
  margin: 5px;
  padding: 7px;
  text-align: center;
}
.imgNosotros {
  width: 100vw;
  border-radius: 100px;
}
.estiloParrafo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
  padding: 30px;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 10px;
  line-height: 40px;
  background-image: linear-gradient(270deg,rgb(207, 106, 10) 40%,rgb(243, 142, 47) 80%);
}
.posicionIconos {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 10vw;
  margin-bottom: 0;
  list-style: none;
  justify-content: end;
}
.elFooter {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.pie {
  text-align: center;
}
/*Estilos Tablet*/
@media (max-width: 1024px) {
  .alineacionHeader {
    flex-direction: column;
  }
  .textheader {
    white-space: nowrap;
    font-size: 80px;
    margin-left: 0vw;
  }
  .iconosAnimados {
    margin-left: 0vw;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .pie {
    font-size: 17px;
  }
  .elFooter {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .test {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
  }
  .imgNosotros {
    border-radius: 50px;
  }
}
/*Estilos SmartPhone*/
@media (max-width: 480px) {
  .textheader {
    white-space: nowrap;
    font-size: 70px;
    margin-left: 0vw;
  }
  .nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pie {
    font-size: 13px;
  }
  .posicionIconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5vw;
  }
  .elFooter {
    display: flex;
    flex-direction: column;
  }
  .anchoFormulario {
    width: 300px;
  }
  .test {
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0px;
  }
}